.DS_Store
*.lock
*.index
*.snap
*.properties
*.resources
*.prefs
*.dat
*.log
*.setup
Grue/.metadata/.mylyn/.taskListIndex/segments_1
Grue/.metadata/.mylyn/repositories.xml.zip
Grue/.metadata/.mylyn/tasks.xml.zip
Grue/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
Grue/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
Grue/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
Grue/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
Grue/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
Grue/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.13.0.20190716-1624.xml
Grue/.metadata/.plugins/org.eclipse.ui.intro/introstate
Grue/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
Grue/.metadata/version.ini
